# ALIASES

if [[ -x $(command -v exa) ]]; then
	alias ls='exa -G'
	alias ll='exa -alh'
	alias la='exa -a'
	alias lla='exa -alh'
	alias lt='lt2'
	alias lt2='exa -aTL 2 --ignore-glob=.git'
	alias lt3='exa -aTL 3 --ignore-glob=.git'
	alias lt4='exa -aTL 4 --ignore-glob=.git'
fi

if [[ -x $(command -v batcat) ]]; then
	alias cat='batcat'
elif [[ -x $(command -v bat) ]]; then
	alias cat='bat'
fi

if ! [[ -x $(command -v sudoedit) ]]; then
	alias sudoedit='sudo -e'
fi

alias bd='cd ..'
alias cd='cdls'

cdls() { \cd "$@" && ls; }

alias dotconfig='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

if [[ -x $(command -v gvim) ]]; then
	alias vim='gvim -v'
fi
