# ALIASES


type exa > /dev/null

if [[ $? -eq 0 ]]; then
alias ls='exa -G'
alias ll='exa -alh'
alias la='exa -a'
alias lla='exa -alh'
alias lt='lt2'
alias lt2='exa -aTL 2 --ignore-glob=.git'
alias lt3='exa -aTL 3 --ignore-glob=.git'
alias lt4='exa -aTL 4 --ignore-glob=.git'
fi

type batcat > /dev/null

if [[ $? -eq 0 ]]; then
alias cat='batcat'
fi

alias bd='cd ..'
alias cd='cdls'

cdls() { \cd "$@" && ls; }

alias dotconfig='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

alias vim='gvim -v'
