
## Behaviors
**When I report a bug:** if a project has an existing test framework, you should first create a test that reproduces it. Then diagnose and fix, if appropriate.

## Tools
The following tools will always be installed:
    - `tree`
    - `ripgrep`
    - `eza`
    - `{{- .cmds.bat -}}`

My systems *may* have the following non-standard shell configurations, depending on how your shell execution tool operates:
    - `cat` is aliased to `{{- .cmds.bat -}}`
    - `ls` is aliased to `eza`
    - `cd` is aliased `cd $@ && pwd && ls`

