<!-- vim: set ft=markdown: -->

## Behaviors
**When I report a bug:** if a project has an existing test framework, you should first create a test that reproduces it. Then diagnose and fix, if appropriate.

## Tools
The following tools will always be installed:
    - `tree`
    - `ripgrep`
    - `eza`
    - `{{- .cmds.bat -}}`

